.chatContainer {
  /*border: 1px #eee solid !important;*/
  width: 80% !important;
  height: 100%;
  padding: 0 !important;
}
.chatRoomContainer {
  height: 100%;
}
.msgContainer h1 {
  margin-top: 0px;
  text-align: center;
}
.msgContainer {
  color: #8c8c8c;
  background-color: #201F26;
  text-align: left;
  overflow: auto;
  height: 85%;
}
.submitForm {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 15% !important;
  background-color: #32323e;
}
.submitForm form {
  height: 100%;
}
.submitForm textarea {
  color: #8c8c8c;
  overflow: auto;
}
.chatInput {
  height: 100%;
  margin-top: 0 !important;
  margin-bottom: 0px !important;
}

@media (min-width: 400px) {
  .submitForm textarea {
    height: 80% !important;
  }
}
