.chatContainer {
  width: 80% !important;
  height: 100%;
  border: 1px #eee solid !important;
}
.chatRoomContainer {
  height: 100%;
}
.msgContainer h1 {
  margin-top: 0px;
  text-align: center;
}
.msgContainer {
  background-color: #eee;
  text-align: left;
  overflow: auto;
  height: 90%;
}
.submitForm {
  height: 10% !important;
}
.chatInput {
  margin-top: 0 !important;
  margin-bottom: 0px !important;
}
